//= require_self
//= require_tree .
html, body {
  height: 100%;
  margin: 0;
}

.stage {
  font-family: Helvetica;
  background-color: #eef;

  min-height: 100%;

  table {
    position: fixed;
    min-width: 170px;

    border-collapse: collapse;

    border-radius: 5px;
    box-shadow: 2px 2px 3px #999;
    background-color: #fff;
  }

  tr.title {
    h3 {
      margin: 0 0;
    }
  }

  td {
    padding: 3px 3px 3px 5px;

    font-size: 13px;

    background-color: #fef;
    border-left: 1px solid #ddd;
    border-top: 1px solid #ddd;

    &:first-child {
      border-left: 0;
    }
  }

  th {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

    background-color: #fff;
  }

  tr:last-child {
    td:first-child {
      border-bottom-left-radius: 5px;
    }

    td:last-child {
      border-bottom-right-radius: 5px;
    }
  }

  td.label {
    font-weight: bold;

    &:after {
      content: ":";
    }
  }
}
